-- MariaDB dump 10.19  Distrib 10.4.34-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: pengaduan_db
-- ------------------------------------------------------
-- Server version	10.4.34-MariaDB-1:10.4.34+maria~ubu2004

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (3,'analisariputri','$2y$10$QQbbQSDViYxEdo.Dh89doOtSwAjrHKmGAc/4QFttVKJJP/1V0UcUi','user'),(4,'sentradinsos','$2y$10$isx9Nqcnuh96TLmCHBxnzemsUoWjGh8RpgOoZGvUozChksaTH5cpS','user');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jenis_layanan`
--

DROP TABLE IF EXISTS `jenis_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jenis_layanan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nama` (`nama`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jenis_layanan`
--

LOCK TABLES `jenis_layanan` WRITE;
/*!40000 ALTER TABLE `jenis_layanan` DISABLE KEYS */;
INSERT INTO `jenis_layanan` VALUES (3,'DTSEN'),(9,'JAMKESDA'),(5,'PBI-JK');
/*!40000 ALTER TABLE `jenis_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `keterangan_layanan`
--

DROP TABLE IF EXISTS `keterangan_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `keterangan_layanan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keterangan_layanan`
--

LOCK TABLES `keterangan_layanan` WRITE;
/*!40000 ALTER TABLE `keterangan_layanan` DISABLE KEYS */;
INSERT INTO `keterangan_layanan` VALUES (1,'Permohonan rekom jaminan rawat inap'),(3,'Cek status PBI-JK'),(4,'Cek status DTSEN'),(5,'Cek status BANSOS'),(6,'Permohonan penerbitan surat keterangan DTSEN'),(9,'PERMOHONAN REKOM PBI-APBD');
/*!40000 ALTER TABLE `keterangan_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nik_cache`
--

DROP TABLE IF EXISTS `nik_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nik_cache` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nik` char(16) NOT NULL,
  `nama` varchar(255) NOT NULL,
  `alamat` varchar(255) NOT NULL,
  `nohp` varchar(20) DEFAULT NULL,
  `source` enum('pengaduan','dtsen') NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nik` (`nik`,`source`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nik_cache`
--

LOCK TABLES `nik_cache` WRITE;
/*!40000 ALTER TABLE `nik_cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `nik_cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pelapor`
--

DROP TABLE IF EXISTS `pelapor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pelapor` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) DEFAULT NULL,
  `nik` varchar(20) DEFAULT NULL,
  `nohp` varchar(20) DEFAULT NULL,
  `alamat` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nik` (`nik`)
) ENGINE=InnoDB AUTO_INCREMENT=10417 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pelapor`
--

LOCK TABLES `pelapor` WRITE;
/*!40000 ALTER TABLE `pelapor` DISABLE KEYS */;
/*!40000 ALTER TABLE `pelapor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penduduk`
--

DROP TABLE IF EXISTS `penduduk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penduduk` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nik` varchar(20) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `alamat` text NOT NULL,
  `no_telp` varchar(15) NOT NULL,
  `pekerjaan` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penduduk`
--

LOCK TABLES `penduduk` WRITE;
/*!40000 ALTER TABLE `penduduk` DISABLE KEYS */;
INSERT INTO `penduduk` VALUES (6,'1263545634737373','salman','Bintan','082288838774','Swasta'),(8,'1234567890129087','maninta','Kijang','085787658976','IRT'),(9,'1234567898765432','Ewang','Lagoy','087789645378','Serabut'),(10,'8666382923882345','salman','Pinang','089909876543','Lepas');
/*!40000 ALTER TABLE `penduduk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengaduan`
--

DROP TABLE IF EXISTS `pengaduan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengaduan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nik` varchar(20) NOT NULL,
  `nama_pelapor` varchar(100) NOT NULL,
  `isi_laporan` text NOT NULL,
  `tanggapan` text DEFAULT NULL,
  `tgl_pengaduan` date NOT NULL,
  `status` enum('Pending','Proses','Selesai') NOT NULL DEFAULT 'Pending',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengaduan`
--

LOCK TABLES `pengaduan` WRITE;
/*!40000 ALTER TABLE `pengaduan` DISABLE KEYS */;
INSERT INTO `pengaduan` VALUES (7,'1263545634737373','salman','Banyak\r\n','selesai','2026-01-26','Selesai'),(8,'1234567890129087','maninta','Bantuan Sosial/BANSOS',NULL,'2026-01-27','Pending'),(9,'1234567898765432','Ewang','Bantuan Sosial',NULL,'2026-01-27','Pending'),(10,'8666382923882345','salman','Bansos',NULL,'2026-01-27','Pending');
/*!40000 ALTER TABLE `pengaduan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permohonan_dtse`
--

DROP TABLE IF EXISTS `permohonan_dtse`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `permohonan_dtse` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_pemohon` varchar(100) DEFAULT NULL,
  `nik_pemohon` varchar(20) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `nohp` varchar(15) DEFAULT NULL,
  `data_anggota` text DEFAULT NULL,
  `file_pdf` varchar(255) DEFAULT NULL,
  `tanggal_submit` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permohonan_dtse`
--

LOCK TABLES `permohonan_dtse` WRITE;
/*!40000 ALTER TABLE `permohonan_dtse` DISABLE KEYS */;
/*!40000 ALTER TABLE `permohonan_dtse` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tindak_lanjut`
--

DROP TABLE IF EXISTS `tindak_lanjut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tindak_lanjut` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tindak_lanjut`
--

LOCK TABLES `tindak_lanjut` WRITE;
/*!40000 ALTER TABLE `tindak_lanjut` DISABLE KEYS */;
INSERT INTO `tindak_lanjut` VALUES (1,'Penerbitan surat keterangan DTSEN'),(2,'Status bansos SPM'),(6,'PENERBITAN REKOM LINJAMSOS');
/*!40000 ALTER TABLE `tindak_lanjut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `nama` varchar(100) NOT NULL,
  `role` enum('admin','user') NOT NULL DEFAULT 'user',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (4,'dinsos2026','$2y$10$/5snbBnB33YUKFMdbfO26uEy6ZLTh62andSrDkyf8mUfMexwLoJMC','','admin'),(5,'userlogin','$2y$10$vVxM0iSTDAgcVGqF020BD.uO0GMBlXXOI7l9lWKC8XpywXWfBG4eW','user1','user');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-27 18:01:23
